.idea/
__pycache__/

ViTPose/
AVASAG_feature_processing_mediapipe/
AVASAG_feature_processing_vitpose/
WLASL_feature_processing_mediapipe/
WLASL_feature_processing_vitpose/

*.parquet
*.mp4
*.png
*.jpg
*.txt
*.pdf
*.xlsx
*.csv
*.pth
*.log
*.db
plot_fusion_results.py
plot_fusion_weights.py